/*style.css*/

* {
    margin: 0;
    border: 0;
}

.thin-header {
    background-color: #1F2937;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

.right-thin-header-links {
    font-size: 18px;
    color: #f9faf8d5;
    display: flex;
    gap: 20px;
}

.thick-header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-thick-header-container {
    max-width: 400px;
}

.thick-header-main-text {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    max-width: 400px;
}

.thick-header-text {
    display: flex;
    font-size: 18px;
    color: #f9faf8d5;
}

.sign-up {
    display: flex;
    background-color: #3882F6;
    color: #f9faf8d5;
    border-radius: 10px;
    border-style: solid;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f9faf8d5;
    background-color: gray;
    margin: 0;
    padding: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.information-header {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    padding: 40px;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1F2937;
    color: #f9faf8d5;
}

.bottom-white-container {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.blue-cta {
    background-color: #3882F6;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.blue-cta p {
    margin: 0; 
    color: #E5E7EB;
}

.blue-cta h3 {
    color: #F9FAF8;
}

.bottom-signup-button {
    border: solid #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.grey-container {
    background-color: #E5E7EB;
}
